# Calculate Stock Change - Team Gannett Peak

### Team Members: Congda Xu, Binqi Shen,  Matthew Ko, Isaac Choi

In [1]:
# load packages
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import csv to pandas dataframe
data = []
columns = ['N', 'Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume', 'Dividend', 'SplitCoefficient', 'Ticker', 'PctChange']
file_numbers = [4]                     # can substitute with a list of multiple filenumbers

for num in file_numbers:
    path = r'financial%d.csv' % num    # all file names are in the format of financial[x].csv
    df = pd.read_csv(path, names=columns, index_col = False).iloc[1:]   # remove first header row of each file
    df.Date = df.Date.astype('datetime64[s]').dt.to_period('M')         # to only contain year-month
    df.Ticker = df.Ticker.astype('str')
    df.AdjClose = df.Close.astype('float')
    data.append(df)
    
financial = pd.concat(data)            # concatinate files to 1 dataframe

/Users/shenbinqi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2,3,4,5,6,7,8,9,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
financial.head()

,N,Date,Open,High,Low,Close,AdjClose,Volume,Dividend,SplitCoefficient,Ticker,PctChange
1,181.0,2020-01,3.04,3.0498,3.04,3.0498,3.0498,1221,0,1,BMRA,0.003223684
2,182.0,2020-01,3.0452,3.0452,3.033,3.033,3.0330,971,0,1,BMRA,-0.004006305
3,183.0,2020-01,3,3.05,3,3.0301,3.0301,16372,0,1,BMRA,0.010033333
4,184.0,2020-01,3.01,3.05,2.985,3.02,3.0200,14547,0,1,BMRA,0.003322259
5,185.0,2020-01,3.05,3.05,3,3.01,3.0100,14006,0,1,BMRA,-0.013114754

In [4]:
financial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467492 entries, 1 to 467492
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   N                 467480 non-null  float64
 1   Date              467480 non-null  period[M]
 2   Open              467480 non-null  object
 3   High              467480 non-null  object
 4   Low               467480 non-null  object
 5   Close             467480 non-null  object
 6   AdjClose          467480 non-null  float64
 7   Volume            467480 non-null  object
 8   Dividend          467480 non-null  object
 9   SplitCoefficient  467480 non-null  object
 10  Ticker            467492 non-null  object
 11  PctChange         467462 non-null  object
dtypes: float64(2), object(9), period[M](1)
memory usage: 42.8+ MB

In [5]:
# Get last stock price for each ticker each month using .first()
temp_financial = financial[['Ticker', 'Date', 'AdjClose']].groupby(['Ticker', 'Date']).first() 

temp_financial = temp_financial.reset_index()

# change column name from 'AdjClose' to 'CurrentClose'
temp_financial['CurrentClose'] = temp_financial[['AdjClose']]

# add a column to store previous month's close price
temp_financial['PrevClose'] = temp_financial.groupby('Ticker')['CurrentClose'].shift(1)

# remove the adjclose column
temp_financial = temp_financial[['Ticker', 'Date', 'CurrentClose', 'PrevClose']]

# add a column to calculate close price change
temp_financial['CloseChange(%)'] = 100 * (temp_financial.CurrentClose - temp_financial.PrevClose)/ temp_financial.PrevClose

# add a column to Calculate the monthly return
temp_financial['MonthlyReturn'] = temp_financial.CurrentClose / temp_financial.PrevClose

# same df to cleaned_financial
cleaned_financial = temp_financial

In [6]:
# test to see if everything works the right way
cleaned_financial

      Ticker     Date  CurrentClose  PrevClose  CloseChange(%)  MonthlyReturn
0       AAPL  2016-01        97.340        NaN             NaN            NaN
1       AAPL  2016-02        96.690      97.34       -0.667762       0.993322
2       AAPL  2016-03       108.990      96.69       12.721067       1.127211
3       AAPL  2016-04        93.740     108.99      -13.992109       0.860079
4       AAPL  2016-05        99.860      93.74        6.528696       1.065287
...      ...      ...           ...        ...             ...            ...
22527   ZIXI  2019-09         7.240       7.35       -1.496599       0.985034
22528   ZIXI  2019-10         6.610       7.24       -8.701657       0.912983
22529   ZIXI  2019-11         7.540       6.61       14.069592       1.140696
22530   ZIXI  2019-12         6.780       7.54      -10.079576       0.899204
22531   ZIXI  2020-01         6.935       6.78        2.286136       1.022861

[22532 rows x 6 columns]

In [7]:
# test to make sure the first PrevMonth record for each ticker is NAN
cleaned_financial[cleaned_financial.Ticker == 'ZIXI']

      Ticker     Date  CurrentClose  PrevClose  CloseChange(%)  MonthlyReturn
22483   ZIXI  2016-01         4.490        NaN             NaN            NaN
22484   ZIXI  2016-02         3.990       4.49      -11.135857       0.888641
22485   ZIXI  2016-03         3.930       3.99       -1.503759       0.984962
22486   ZIXI  2016-04         3.730       3.93       -5.089059       0.949109
22487   ZIXI  2016-05         4.020       3.73        7.774799       1.077748
22488   ZIXI  2016-06         3.750       4.02       -6.716418       0.932836
22489   ZIXI  2016-07         4.060       3.75        8.266667       1.082667
22490   ZIXI  2016-08         3.810       4.06       -6.157635       0.938424
22491   ZIXI  2016-09         4.100       3.81        7.611549       1.076115
22492   ZIXI  2016-10         4.070       4.10       -0.731707       0.992683
22493   ZIXI  2016-11         4.450       4.07        9.336609       1.093366
22494   ZIXI  2016-12         4.940       4.45       11.011236       1.110112
22495   ZIXI  2017-01         4.770       4.94       -3.441296       0.965587
22496   ZIXI  2017-02         5.010       4.77        5.031447       1.050314
22497   ZIXI  2017-03         4.810       5.01       -3.992016       0.960080
22498   ZIXI  2017-04         5.430       4.81       12.889813       1.128898
22499   ZIXI  2017-05         5.770       5.43        6.261510       1.062615
22500   ZIXI  2017-06         5.690       5.77       -1.386482       0.986135
22501   ZIXI  2017-07         5.330       5.69       -6.326889       0.936731
22502   ZIXI  2017-08         5.310       5.33       -0.375235       0.996248
22503   ZIXI  2017-09         4.890       5.31       -7.909605       0.920904
22504   ZIXI  2017-10         4.850       4.89       -0.817996       0.991820
22505   ZIXI  2017-11         4.400       4.85       -9.278351       0.907216
22506   ZIXI  2017-12         4.380       4.40       -0.454545       0.995455
22507   ZIXI  2018-01         4.230       4.38       -3.424658       0.965753
22508   ZIXI  2018-02         4.050       4.23       -4.255319       0.957447
22509   ZIXI  2018-03         4.270       4.05        5.432099       1.054321
22510   ZIXI  2018-04         5.050       4.27       18.266979       1.182670
22511   ZIXI  2018-05         5.410       5.05        7.128713       1.071287
22512   ZIXI  2018-06         5.390       5.41       -0.369686       0.996303
22513   ZIXI  2018-07         5.340       5.39       -0.927644       0.990724
22514   ZIXI  2018-08         5.550       5.34        3.932584       1.039326
22515   ZIXI  2018-09         5.550       5.55        0.000000       1.000000
22516   ZIXI  2018-10         6.740       5.55       21.441441       1.214414
22517   ZIXI  2018-11         6.660       6.74       -1.186944       0.988131
22518   ZIXI  2018-12         5.730       6.66      -13.963964       0.860360
22519   ZIXI  2019-01         7.120       5.73       24.258290       1.242583
22520   ZIXI  2019-02         9.030       7.12       26.825843       1.268258
22521   ZIXI  2019-03         6.880       9.03      -23.809524       0.761905
22522   ZIXI  2019-04         8.150       6.88       18.459302       1.184593
22523   ZIXI  2019-05         8.960       8.15        9.938650       1.099387
22524   ZIXI  2019-06         9.090       8.96        1.450893       1.014509
22525   ZIXI  2019-07         9.110       9.09        0.220022       1.002200
22526   ZIXI  2019-08         7.350       9.11      -19.319429       0.806806
22527   ZIXI  2019-09         7.240       7.35       -1.496599       0.985034
22528   ZIXI  2019-10         6.610       7.24       -8.701657       0.912983
22529   ZIXI  2019-11         7.540       6.61       14.069592       1.140696
22530   ZIXI  2019-12         6.780       7.54      -10.079576       0.899204
22531   ZIXI  2020-01         6.935       6.78        2.286136       1.022861

In [8]:
# export to csv
for num in file_numbers:
    path = r'CleanStock%d.csv' % num
    cleaned_financial.to_csv(path, index = False)